@model Projekt.Models.RentModel


@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RentModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Car.Brand" class="control-label">Samochód</label>
                <input asp-for="Car.Brand" class="form-control" />
                <span asp-validation-for="Car.Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.FirstName" class="control-label">Klient</label>
                <input asp-for="Customer.FirstName" class="form-control" />
                <span asp-validation-for="Customer.FirstName" class="text-danger"></span>
            </div>*@


            

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
