@model Projekt.Models.RentModel


@{
    ViewData["Title"] = "Create";
}

<h1>Wypożycz</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label>Samochód</label>
                @Html.DropDownList("Cars", "Wybierz samochód")
                <asp:RequiredFieldValidator ID="rfv1" runat="server" ControlToValidate="Cars" InitialValue="Please select" ErrorMessage="Please select something" />
            </div>
            <div>
                <label>Klient</label>
                @Html.DropDownList("Customers", "Wybierz klienta")
                <asp:RequiredFieldValidator ID="rfv2" runat="server" ControlToValidate="Customers" InitialValue="Please select" ErrorMessage="Please select something" />
            </div>
            
            
            


            

            <div class="form-group">
                <input type="submit" value="Wypożycz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
