@model Projekt.Models.RentModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Zakończ wypożyczenie</h1>


<hr />
<div class="row">
    <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Customer.FirstName" class="control-label"></label>
                    <input asp-for="Customer.FirstName" class="form-control" readonly/>
                    <span asp-validation-for="Customer.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Customer.LastName" class="control-label"></label>
                    <input asp-for="Customer.LastName" class="form-control" readonly/>
                    <span asp-validation-for="Customer.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Car.NumberPlate" class="control-label"></label>
                    <input asp-for="Car.NumberPlate" class="form-control" readonly/>
                    <span asp-validation-for="Car.NumberPlate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Car.Brand" class="control-label"></label>
                    <input asp-for="Car.Brand" class="form-control" readonly/>
                    <span asp-validation-for="Car.Brand" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Car.Model" class="control-label"></label>
                    <input asp-for="Car.Model" class="form-control" readonly/>
                    <span asp-validation-for="Car.Model" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RentDate" class="control-label"></label>
                    <input asp-for="RentDate" class="form-control" readonly/>
                    <span asp-validation-for="RentDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DeliveryDate" class="control-label"></label>
                    <input asp-for="DeliveryDate" class="form-control" readonly/>
                    <span asp-validation-for="DeliveryDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cost" class="control-label"></label>
                    <input asp-for="Cost" class="form-control" readonly/>
                    <span asp-validation-for="Cost" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Zakończ" class="btn btn-primary" />
                </div>
                
            </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
